<style>
    .hoverable:hover{
        background-color: rgba(255, 255, 255, 0.3);
    }
    .upvote-click{
        color: rgb(29, 155, 240) !important;
    }
    .upvote-nclick{
        color: rgb(255,255,255);
    }
    .downvote-click{
        color: rgb(0, 186, 124) !important;
    }
    .downvote-nclick{
        color: rgb(255,255,255);
    }
    .comment-hoverable:hover{
        color: rgb(29, 155, 240);
    }
    .rt-hoverable:hover{
        color: rgb(0, 186, 124);
    }
    .like-hoverable:hover{
        color: rgb(249, 24, 128);
    }
	/*From Twitter*/
    .css-1dbjc4n{
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
        flex-basis: auto;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0px;
        min-height: 0px;
        min-width: 0px;
        padding: 0px;
        position: relative;
        z-index: 0;
        display: flex;
        box-sizing: border-box;
        border: 0px solid black;
        -moz-box-align: stretch;
        align-items: stretch;
    }
    .r-1iusvr4 {
        flex-basis: 0px;
    }
    .r-16y2uox {
        -moz-box-flex: 1;
        flex-grow: 1;
    }
    .r-a5pmau {
        margin-right: 2px;
    }
    .r-bnwqim {
        position: relative;
    }
    .r-18u37iz {
        -moz-box-direction: normal;
        -moz-box-orient: horizontal;
        flex-direction: row;
    }
    .r-1pi2tsx{
        height: 100%;
    }
    .r-13qz1uu{
        width: 100%;
    }
    .r-q4m81j{
        text-align: center;
    }
    .r-1777fci{
        -moz-box-pack: center;
        justify-content: center;
    }
    .r-kzbkwu{
        padding-bottom: 12px;
    }
    .r-1awozwy{
        -moz-box-align: center;
        align-items: center;
    }
    .r-1hwvwag{
        flex-basis: 48px;
    }
    .r-18kxxzh{
        -moz-box-flex: 0;
        flex-grow: 0;
    }
    .r-1b7u577{
        margin-right: 12px;
    }
    .r-zl2h9q{
        margin-bottom: 2px;
    }
    .r-k4xj1c {
        -moz-box-align: start;
        align-items: start;
    }
    .r-1wtj0ep {
        -moz-box-pack: justify;
        justify-content: space-between;
    }
    .r-1d09ksm {
        -moz-box-align: baseline;
        align-items: baseline;
    }
    .r-1wbh5a2 {
        flex-shrink: 1;
    }
    .r-1joea0r {
        margin-left: 20px;
    }
    .r-dnmrzs {
        max-width: 100%;
    }
    .r-1ny4l3l {
        outline-style: none;
    }
    .r-1loqt21 {
        cursor: pointer;
    }
    .r-1ta3fxp {
        column-gap: 8px;
    }
    .r-1s2bzr4 {
        margin-top: 12px;
    }
    .r-1mdbhws {
        max-width: 425px;
    }
    .r-1h0z5md{
        -moz-box-pack: start;
        justify-content: flex-start;
    }
    .r-bt1l66{
        min-height: 20px;
    }
    .r-bztko3{
        overflow: visible;
    }
    .r-9ilb82{
        color: rgb(110, 118, 125);
    }
    .r-6koalj{
        display: flex;
    }
    .r-37j5jr{
        font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
    }
    .r-a023e6{
        font-size: 20px;
    }
    .r-16dba41{
        font-weight: 400;
    }
    .r-19u6a5r{
        margin-left: 12px;
    }
    .r-42olwf{
        border-color: rgba(0, 0, 0, 0);
    }
    .r-sdzlij{
        border-radius: 9999px;
    }
    .r-rjixqe{
        line-height: 20px;
    }
    .r-1h8ys4a{
        padding-top: 4px;
    }
    .r-1jeg54m{
        white-space: normal;
    }
    .r-bcqeeo{
        min-width: 0px;
    }
    .r-o7ynqc{
        transition-duration: 0.2s;
    }
    .r-clp7b1{
        transition-property: color;
    }
    .r-3s2u2q{
        white-space: nowrap;
    }
    .r-qvutc0{
        overflow-wrap: break-word !important;
    }
    .r-xoduu5{
        display: inline-flex;
    }
    .r-1q142lx{
        flex-shrink: 0;
    }
    .r-4qtqp9{
        display: inline-block;
    }
    .r-yyyyoo{
        fill: currentcolor;
    }
    .r-1xvli5t{
        height: 1.25em;
    }
    .r-1plcrui{
        vertical-align: text-bottom;
    }
    .r-lrvibr{
        user-select: none;
    }
    .r-1hdv0qi{
        width: 1.25em;
    }
    .r-1udh08x{
        overflow: hidden;
    }
    .r-kemksi{
        background-color: rgb(0, 0, 0);
    }
    .r-8jfcpp{
        top: -2px;
    }
    .r-1kqtdi0{
        border-color: rgb(47, 51, 54);
    }
    .r-1867qdf{
        border-radius: 16px;
    }
    .r-1phboty{
        border-style: solid;
    }
    .r-rs99b7{
        border-width: 1px;
    }
    .r-15ysp7h{
        min-height: 32px;
    }
    .r-4wgw6l{
        min-width: 32px;
    }
    .r-6416eg{
        transition-property: background-color, box-shadow;
    }
    .r-15zivkp{

    }
    .r-1adg3ll{
        display: block;
    }
    .r-1p0dtai{
        bottom: 0px;
    }
    .r-1d2f490{
        left: 0px;
    }
    .r-sdzlij{
        border-radius: 9999px;
    }
    .r-172uzmj{
        box-shadow: rgba(255, 255, 255, 0.03) 0px 0px 2px inset;
    }
    .r-ggadg3{
        left: -2px;
    }
    .r-u8s1d{
        position: absolute;
    }
    .r-1v2oles{
        top: 50%;
    }
    .r-desppf{
        transform: translateX(-50%) translateY(-50%);
    }
    .r-1wyvozj{
        left: 50%;
    }
    .r-633pao{
        pointer-events: none !important;
    }
    .r-ipm5af{
        top: 0px;
    }
    .r-1mlwlqe{
        flex-basis: auto;
    }
    .r-p1pxzi{
        margin-bottom: 0px;
    }
    .r-11wrixw{
        margin-left: 0px;
    }
    .r-61z16t{
        margin-right: 0px;
    }
    .r-zchlnj{
        right: 0px;
    }
    .r-417010{
        z-index: 0;
    }
    .r-eqz5dr{
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
        flex-direction: column;
    }
    .r-1niwhzg{
        background-color: rgba(0, 0, 0, 0);
    }
    .r-vvn4in{
        background-position: center center;
    }
    .r-u6sd8q{
        background-repeat: no-repeat;
    }
    .r-4gszlv{
        background-size: cover;
    }
    .r-1wyyakw{
        z-index: -1;
    }
    .r-1igl3o0{
        border-bottom-color: rgb(47, 51, 54);
    }
    .r-pm2fo{
        border-bottom-left-radius: 0px;
    }
    .r-zmljjp{
        border-bottom-right-radius: 0px;
    }
    .r-rull8r{
        border-bottom-style: solid;
    }
    .r-qklmqi{
        border-bottom-width: 1px;
    }
    .r-z5qs1h{
        gap: 2px;
    }
    .r-1e081e0{
        padding-left: 12px;
        padding-right: 12px;
    }
    .r-ttdzmv{
        padding-top: 12px;
    }
    .r-poiln3{
        font-family: inherit;
    }
    .r-1fmj7o5{
        color: rgb(217, 217, 217);
    }
    .r-1ysxnx4{
    	background-color: rgb(21, 24, 28);
    }
    .r-k0dy70{
    	border-color: rgb(21, 24, 28);
    }
    .r-1ifxtd0{
    	margin-bottom: 16px;
    }
    .r-4iw3lz{
    	border-width: 0px;
    }
    .r-1xk2f4g{
    	clip: rect(1px, 1px, 1px, 1px);
    }
    .r-109y4c4{
    	height: 1px;
    }
    .r-92ng3h{
    	width: 1px;
    }
    .r-ymttw5{
    	padding-left: 16px;
    	padding-right: 16px;
    }
    .r-1f1sjgu{
    	padding-bottom: 12px;
		padding-top: 12px;
    }
    .r-k200y{
    	align-self: flex-start;
    }
    .r-z80fyv{
    	height: 20px;
    }
    .r-1bymd8e{
    	margin-top: 2px;
    }
    .r-1habvwh{
    	-moz-box-align: start;
		align-items: flex-start;
    }
    .r-adyw6z{
    	font-size: 20px !important;
    }
    .r-1vr29t4{
    	font-weight: 800 !important;
    }
    .r-135wba7{
    	line-height: 24px !important; 
    }
    .r-n6v787{
    	font-size: 13px;
    }
    .r-1cwl3u0{
    	line-height: 16px;
    }
    .r-b88u0q{
    	font-weight: 700 !important;
    }
    .r-vmopo1{
    	padding-top: 2px;
    }
    .r-14gqq1x{
    	margin-top: 4px;
    }
    .r-1jy2w8o{
    	top: 1px;
    }
    .r-1pp923h{
    	border-bottom-left-radius: 16px;
    }
    .r-1moyyf3{
    	border-bottom-right-radius: 16px;
    }
    .r-1yzf0co{
    	padding-bottom: 16px;
		padding-top: 16px;
    }
    .r-o6sn0f{
    	color: rgb(0, 186, 124);
    }
    .r-wwvuq4{
        padding: 0px;
    }
    .css-4rbku5 {
        background-color: rgba(0, 0, 0, 0);
        color: inherit;
        font: inherit;
        list-style: none;
        margin: 0px;
        text-align: inherit;
        text-decoration: none;
    }
    .css-4rbku5:hover{
        text-decoration: none;
    }
    .css-18t94o4 {
        cursor: pointer;
    }
    .css-9pa8cd{
        inset: 0px;
        height: 100%;
        /*opacity: 0;
        position: absolute;*/
        width: 100%;
        z-index: -1;
    }
    .css-901oao{
        border: 0px solid black;
        box-sizing: border-box;
        font: 17px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        margin: 0px;
        padding: 0px;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }
    .css-bfa6kz{
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .css-16my406{
        color: inherit;
        font: inherit;
        white-space: inherit;
    }
    .css-cens5h{
        -moz-box-orient: vertical;
        display: -webkit-box;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /*End Twitter*/
</style>