{% load static %}
{% load humanize %}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Published</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Drafted</button>
  </li>

</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    {% for result in published_posts %}
      <div class="tweet-wrap infinite-item" id="p_post" >
        <div class="tweet-header">
          
          
          <div class="tweet-header-info" style="clear: both;">
            
            <div class="body-post" style="font-weight:normal; transform: rotate(0);">
              <div class="container p-0 mt-4" >
                <div class="row no-gutters">
                  <a href="{% url 'blog:blog-detail' result.pk %}" style="color: black;">
                    <span style="position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 1;"></span> 
                  </a>
                  <div class="col-md-9 p-2">
                    <div>
                      <p><strong>{{ result.title|safe }}</strong></p>
                      <p id="blog-body-{{result.pk}}"></p>
                      <script>
                        function truncateString(str, num) {
                          if (str.length <= num) {
                            return str
                          }
                          return str.slice(0, num) + '...'
                        }

                        window.addEventListener("DOMContentLoaded", () => {
                          const postBody = document.getElementById("blog-body-{{result.pk}}");
                          const postBodyImg = document.getElementById("blog-body-img-{{result.pk}}");

                          const text = "{{result.body|escapejs}}";
                          const words = text.trim().split(/\s+/).length;
                          const wpm = 225;
                          const time = Math.ceil(words / wpm);
                          const readTime = document.getElementById("blog-min-read-{{result.pk}}");
                          readTime.innerHTML = time;

                          let body = JSON.parse(text);
                          let blocks = body.blocks;
                          let imageFlag = false;
                          let textBody = "";
                          postBody.style = "color: black";
                          for (let index = 0; index <= blocks.length; index++) {
                            switch (blocks[index].type) {
                              case "Header":
                                break;

                              case "Image":
                                if(!imageFlag){
                                  let div = document.createElement("div");
                                  let image = document.createElement("img");
                                  image.src = `${blocks[index].data.file.url}`;
                                  image.style = "vertical-align: middle; width: 100%; height: 100%; object-fit: cover;"
                                  postBodyImg.appendChild(image);
                                  imageFlag = true;
                                }
                                break;

                              case "List":
                                break;

                              case "Raw":
                                break;

                              case "Attaches":
                                break;

                              case "paragraph":
                                let temp = blocks[index].data.text;
                                textBody += temp;
                                postBody.innerHTML = truncateString(textBody,180);
                                break;

                              case "Link":
                                break;

                              default:
                                break;
                            }
                          }
                        });
                      </script>
                      
                    </div>
                  </div>
                  <div class="col-md-3 p-0">
                    <div class="bg-light" style="height: 100%;">
                      <div id="blog-body-img-{{result.pk}}" style="height: 100%;">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

        </div>
        <div class="tweet-info-counts" style="color: black;">
          <span class="mr-4">{{ result.created_on|date:"F d, Y" }} </span>
          <span class="mr-4"><span id="blog-min-read-{{result.pk}}"></span> min read </span>
          <button class="btn btn-transparent p-0 mr-2" type="submit" onclick="sentAJAX_readList({{result.pk}})">
              <span style="float: right;" class="{% if request.user in result.read_list.all %} heart-clicked {% else %} heart {% endif %}" id="read-list-button-{{result.pk}}"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book-open" class="svg-inline--fa fa-book-open" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M144.3 32.04C106.9 31.29 63.7 41.44 18.6 61.29c-11.42 5.026-18.6 16.67-18.6 29.15l0 357.6c0 11.55 11.99 19.55 22.45 14.65c126.3-59.14 219.8 11 223.8 14.01C249.1 478.9 252.5 480 256 480c12.4 0 16-11.38 16-15.98V80.04c0-5.203-2.531-10.08-6.781-13.08C263.3 65.58 216.7 33.35 144.3 32.04zM557.4 61.29c-45.11-19.79-88.48-29.61-125.7-29.26c-72.44 1.312-118.1 33.55-120.9 34.92C306.5 69.96 304 74.83 304 80.04v383.1C304 468.4 307.5 480 320 480c3.484 0 6.938-1.125 9.781-3.328c3.925-3.018 97.44-73.16 223.8-14c10.46 4.896 22.45-3.105 22.45-14.65l.0001-357.6C575.1 77.97 568.8 66.31 557.4 61.29z"></path></svg></span>
          </button>
          <form action="{% url 'blog:blog-action' result.pk %}" method="post">
            {% csrf_token %}
            <button class="btn btn-info mr-1" type="submit" name="draft">
              Draft
            </button>
          </form>
          <form action="{% url 'blog:blog-update' result.pk %}" method="GET">
            {% csrf_token %}
          <button class="btn btn-warning mr-1" type="submit" name="edit">Edit</button>
          </form>
          <form action="{% url 'blog:blog-delete' result.pk %}" method="GET">
          <button class="btn btn-danger mr-1" type="submit" name="delete">Delete</button>
          </form>
        </div>  
      </div>


    {% endfor %}
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    {% for result in drafted_posts %}
      <div class="tweet-wrap infinite-item">
        <div class="tweet-header">
          
          <div class="tweet-header-info" style="clear: both;">
            <div class="body-post" style="font-weight:normal; transform: rotate(0);">
              <div class="container p-0 mt-4">
                <div class="row no-gutters">
                  <a href="{% url 'blog:blog-detail' result.pk %}" >
                    <span style="position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 1;"></span> 
                  </a>
                  <div class="col-md-9 p-2">
                    <div>
                      <p><strong>{{ result.title|safe }}</strong></p>
                      <p id="blog-body-{{result.pk}}"></p>
                      <script>
                        function truncateString(str, num) {
                          if (str.length <= num) {
                            return str
                          }
                          return str.slice(0, num) + '...'
                        }

                        window.addEventListener("DOMContentLoaded", () => {
                          const postBody = document.getElementById("blog-body-{{result.pk}}");
                          const postBodyImg = document.getElementById("blog-body-img-{{result.pk}}");

                          const text = "{{result.body|escapejs}}";
                          const words = text.trim().split(/\s+/).length;
                          const wpm = 225;
                          const time = Math.ceil(words / wpm);
                          const readTime = document.getElementById("blog-min-read-{{result.pk}}");
                          readTime.innerHTML = time;

                          let body = JSON.parse(text);
                          let blocks = body.blocks;
                          let imageFlag = false;
                          let textBody = "";
                          postBody.style = "color: black";
                          for (let index = 0; index <= blocks.length; index++) {
                            switch (blocks[index].type) {
                              case "Header":
                                break;

                              case "Image":
                                if(!imageFlag){
                                  let div = document.createElement("div");
                                  let image = document.createElement("img");
                                  image.src = `${blocks[index].data.file.url}`;
                                  image.style = "vertical-align: middle; width: 100%; height: 100%; object-fit: cover;"
                                  postBodyImg.appendChild(image);
                                  imageFlag = true;
                                }
                                break;

                              case "List":
                                break;

                              case "Raw":
                                break;

                              case "Attaches":
                                break;

                              case "paragraph":
                                let temp = blocks[index].data.text;
                                textBody += temp;
                                postBody.innerHTML = truncateString(textBody,180);
                                break;

                              case "Link":
                                break;

                              default:
                                break;
                            }
                          }
                        });
                      </script>
                      
                    </div>
                  </div>
                  <div class="col-md-3 p-0">
                    <div class="bg-light" style="height: 100%;">
                      <div id="blog-body-img-{{result.pk}}" style="height: 100%;">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

        </div>
        <div class="tweet-info-counts" >
          <span class="mr-4">{{ result.created_on|date:"F d, Y" }} </span>
          <span class="mr-4"><span id="blog-min-read-{{result.pk}}"></span> min read </span>
          <button class="btn btn-transparent p-0 mr-2" type="submit" onclick="sentAJAX_readList({{result.pk}})">
              <span style="float: right;" class="{% if request.user in result.read_list.all %} heart-clicked {% else %} heart {% endif %}" id="read-list-button-{{result.pk}}"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book-open" class="svg-inline--fa fa-book-open" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M144.3 32.04C106.9 31.29 63.7 41.44 18.6 61.29c-11.42 5.026-18.6 16.67-18.6 29.15l0 357.6c0 11.55 11.99 19.55 22.45 14.65c126.3-59.14 219.8 11 223.8 14.01C249.1 478.9 252.5 480 256 480c12.4 0 16-11.38 16-15.98V80.04c0-5.203-2.531-10.08-6.781-13.08C263.3 65.58 216.7 33.35 144.3 32.04zM557.4 61.29c-45.11-19.79-88.48-29.61-125.7-29.26c-72.44 1.312-118.1 33.55-120.9 34.92C306.5 69.96 304 74.83 304 80.04v383.1C304 468.4 307.5 480 320 480c3.484 0 6.938-1.125 9.781-3.328c3.925-3.018 97.44-73.16 223.8-14c10.46 4.896 22.45-3.105 22.45-14.65l.0001-357.6C575.1 77.97 568.8 66.31 557.4 61.29z"></path></svg></span>
          </button>
          <form action="{% url 'blog:blog-action' result.pk %}" method="post">
            {% csrf_token %}
            <button class="btn btn-success mr-1" type="submit" name="publish">
              Publish
            </button>
          </form>
          <form action="{% url 'blog:blog-update' result.pk %}" method="GET">
            {% csrf_token %}
          <button class="btn btn-warning mr-1" type="submit" name="edit">Edit</button>
          </form>
          <form action="{% url 'blog:blog-delete' result.pk %}" method="GET">
          <button class="btn btn-danger mr-1" type="submit" name="delete">Delete</button>
          </form>
        </div>  
      </div>
    {% endfor %}
  </div>
  
</div>
