{% extends 'personal/home.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load mathfilters %}

{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">
    .inner-wrapper {
        position: relative;
        height: calc(100vh - 3.5rem);
        transition: transform 0.3s;
    }
    @media (min-width: 992px) {
        .sticky-navbar .inner-wrapper {
            height: calc(100vh - 3.5rem - 48px);
        }
    }

    .inner-main,
    .inner-sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
    }
    .inner-sidebar {
        left: 0;
        width: 235px;
        border-right: 1px solid #cbd5e0;
        background-color: #fff;
    }
    .inner-main {
        right: 0;
        left: 235px;
    }
    .inner-main-footer,
    .inner-main-header,
    .inner-sidebar-footer,
    .inner-sidebar-header {
        height: 3.5rem;
        border-bottom: 1px solid #cbd5e0;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        flex-shrink: 0;
    }
    .inner-main-body,
    .inner-sidebar-body {
        padding: 1rem;
        overflow-y: auto;
        position: relative;
        flex: 1 1 auto;
    }
    .inner-main-body .sticky-top,
    .inner-sidebar-body .sticky-top {
        
    }
    .inner-main-footer,
    .inner-main-header {
        background-color: #fff;
    }
    .inner-main-footer,
    .inner-sidebar-footer {
        border-top: 1px solid #cbd5e0;
        border-bottom: 0;
        height: auto;
        min-height: 3.5rem;
    }
    @media (max-width: 767.98px) {
        .inner-sidebar {
            left: -235px;
        }
        .inner-main {
            left: 0;
        }
        .inner-expand .main-body {
            overflow: hidden;
        }
        .inner-expand .inner-wrapper {
            transform: translate3d(235px, 0, 0);
        }
    }

    .nav .show>.nav-link.nav-link-faded, .nav-link.nav-link-faded.active, .nav-link.nav-link-faded:active, .nav-pills .nav-link.nav-link-faded.active, .navbar-nav .show>.nav-link.nav-link-faded {
        color: #3367b5;
        background-color: #c9d8f0;
    }

    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #fff;
        background-color: #467bcb;
    }
    .nav-link.has-icon {
        display: flex;
        align-items: center;
    }
    .nav-link.active {
        color: #467bcb;
    }
    .nav-pills .nav-link {
        border-radius: .25rem;
    }
    .nav-link {
        color: #4a5568;
    }
    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .ibox-content {
      background-color: #ffffff;
      color: inherit;
      padding: 15px 20px 20px 20px;
      border-color: #e7eaec;
      border-image: none;
      border-style: solid solid none;
      border-width: 1px 0;
    }
    .vote-wrap{
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 10px;
      margin-right: 20px;
      text-align:center;
    }
    .vote{
      font-size:20px;
      padding: 0;
      margin: 0;
    }
    .up{
      color:green;
    }
    .down{
      color:red;
    }
    .inactive{
      color:gray;
    }
    .score{
      position: relative;
      display:block;
      padding: 2px 0;
    }
</style>
{% include 'forum/snippets/css/tweet_box_css.html' %}
{% endblock head %}

{% block post %}
<div class="container">
<div class="main-body p-0">

    {% include 'forum/snippets/forum_header.html' %}

    <a href="{% url 'forum:forum-topic' %}" class="btn btn-light btn-sm mb-3 has-icon"><i class="fa fa-arrow-left mr-2"></i>Back</a>
    <button class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal" data-target="#threadModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus mr-2">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
        NEW DISCUSSION
    </button>
    
    {% include 'forum/snippets/forum_content_list.html' %}

    <!-- New Thread Modal -->
    <div class="modal fade" id="threadModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-header d-flex align-items-center bg-primary text-white">
                        <h6 class="modal-title mb-0" id="threadModalLabel">New Discussion</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="threadTitle">Title</label>
                            <input type="text" name="title" class="form-control" id="threadTitle" placeholder="Enter title" autofocus="" />
                        </div>
                        <div class="form-group">
                            <label for="threadTitle">Description</label>
                            <textarea name="body" class="form-control summernote" placeholder="Your question with detail here."></textarea>
                        </div>
                        
                        <!--
                        <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
                            <input type="file" class="custom-file-input" id="customFile" multiple="" />
                            <label class="custom-file-label" for="customFile">Attachment</label>
                        </div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" name="btn-post-question">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock post %}
{% block javascript %}
<script src="https://cdn.tiny.cloud/1/havldrt4zgo6yunsmxmsi0xltdkxj3wix14yetpjmxf1tyqw/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
      selector: 'textarea',
      height: 500,
      plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste tinycomments tinymcespellchecker image code',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen image',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      image_title: true,
      automatic_uploads: true,
      file_picker_types: 'image',
      file_picker_callback: function (cb, value, meta) {
        var input = document.createElement('input');
        input.setAttribute('type', 'file');
        input.setAttribute('accept', 'image/*');

        input.onchange = function () {
          var file = this.files[0];

          var reader = new FileReader();
          reader.onload = function () {
            var id = 'blobid' + (new Date()).getTime();
            var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
            var base64 = reader.result.split(',')[1];
            var blobInfo = blobCache.create(id, file, base64);
            blobCache.add(blobInfo);

            /* call the callback and populate the Title field with the file name */
            cb(blobInfo.blobUri(), { title: file.name });
          };
          reader.readAsDataURL(file);
        };

        input.click();
      },
   });
</script>
<script>
    const csrftoken = getCookie('csrftoken');

    function sentAJAX_upvote_post(pk) {
        var btn_id = "upvote-" + pk
        var btn = document.getElementById(btn_id)
        var div = document.getElementById('upvote-div-'+pk)
        var div_down = document.getElementById('downvote-div-'+pk)
        var score = document.getElementById('score-'+pk)
        var score_count = Number(score.innerText)
        if(div.classList.contains('up')){
          div.classList.remove('up')
          div.classList.add('inactive')
          score.innerText = score_count - 1
        }else{
          div.classList.remove('inactive')
          div.classList.add('up')
          if(div_down.classList.contains('down')){
            div_down.classList.remove('down')
            score.innerText = score_count + 2
          }else{
            score.innerText = score_count + 1
          }
        }
        $.ajax({
          type: "POST",
          headers: {'X-CSRFToken': csrftoken},
          url: 'http://127.0.0.1:8000/forum/'+pk+'/upvote', 
          data: {
            'pk': pk
          },
          success: function (data) {
            
            //console.log(data)
          }
        });
    }

    function sentAJAX_downvote_post(pk) {
        var btn_id = "downvote-" + pk
        var btn = document.getElementById(btn_id)
        var div = document.getElementById('downvote-div-'+pk)
        var div_up = document.getElementById('upvote-div-'+pk)
        var score = document.getElementById('score-'+pk)
        var score_count = Number(score.innerText)
        if(div.classList.contains('down')){
          div.classList.remove('down')
          div.classList.add('inactive')
          score.innerText = score_count + 1
        }else{
          div.classList.remove('inactive')
          div.classList.add('down')
          if(div_up.classList.contains('up')){
            div_up.classList.remove('up')
            score.innerText = score_count - 2
          }else{
            score.innerText = score_count - 1
          }
        }
        $.ajax({
          type: "POST",
          headers: {'X-CSRFToken': csrftoken},
          url: 'http://127.0.0.1:8000/forum/'+pk+'/downvote', 
          data: {
            'pk': pk
          },
          success: function (data) {
            
            //console.log(data)
          }
        });
    }
</script>
{% endblock javascript %}