{% extends 'personal/home_wide.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block post %}
<style>
    .post-module {
        position: relative;
        display: block;
        background: #FFFFFF;
        max-width: 350px;
        height: 500px;
        border-radius: 5px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
        -webkit-transition: all 0.3s linear 0s;
        -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
        -o-transition: all 0.3s linear 0s;
        transition: all 0.3s linear 0s;
        overflow: hidden;
        position: relative;
        margin-left: 3px;
        margin-bottom: 3px;
        cursor: pointer;
    }

    .post-module:hover,
    .hover {
        -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    }

    .post-module:hover .thumbnail img,
    .hover .thumbnail img {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
        opacity: .6;
    }

    .post-module .thumbnail {
        background: #000000;
        height: 400px;
        overflow: hidden;
    }

    .post-module .thumbnail .date {
        position: absolute;
        top: 20px;
        right: 20px;
        background: #e74c3c;
        width: 55px;
        height: 55px;
        padding: 12.5px 0;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        color: #FFFFFF;
        font-weight: 700;
        text-align: center;
        -webkti-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .post-module .thumbnail .date .day {
        font-size: 18px;
    }

    .post-module .thumbnail .date .month {
        font-size: 12px;
        text-transform: uppercase;
    }

    .post-module .thumbnail img {
        display: block;
        width: 120%;
        -webkit-transition: all 0.3s linear 0s;
        -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
        -o-transition: all 0.3s linear 0s;
        transition: all 0.3s linear 0s;
    }

    .post-module .post-content {
        position: absolute;
        bottom: 0;
        background: #FFFFFF;
        width: 100%;
        padding: 15px;
        -webkti-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    }

    .post-module .post-content .category {
        position: absolute;
        top: -34px;
        left: 0;
        background: #e74c3c;
        padding: 10px 15px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .post-module .post-content .title {
        margin: 0;
        padding: 0 0 20px;
        color: #333333;
        font-size: 20px;
        font-weight: 400;
        float: left;
    }

    .post-module .post-content .price {
        margin: 0;
        padding: 0 0 10px;
        color: #333333;
        font-size: 26px;
        font-weight: 700;
        float: left;
    }

    .post-module .post-content .location {
        margin: 0;
        padding: 0 0 20px;
        color: #666666;
        font-size: 16px;
        font-weight: 200;
    }

    .post-module .post-content .description {
        display: none;
        color: #666666;
        font-size: 16px;
        line-height: 1.8em;
    }

    .post-module .post-content .post-meta {
        margin: 30px 0 0;
        color: #666666;
    }

    .post-module .post-content .post-meta .timestamp {
        margin: 0 16px 0 0;
    }

    .post-module .post-content .post-meta a {
        color: #999999;
        text-decoration: none;
    }

    .hover .post-content .description {
        display: block !important;
        height: auto !important;
        opacity: 1 !important;
    }

    .container {
        max-width: 1500px;
    }

    .card-container {
        padding: 100px 0px;
        -webkit-perspective: 1000;
        perspective: 1000;
    }

    .container:before,
    .container:after {
        content: '';
        display: block;
        clear: both;
    }

    .container .column {
        width: 50%;
        padding: 0 25px;
        -webkti-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
    }

    .container .info {
        width: 300px;
        margin: 50px auto;
        text-align: center;
    }

    .container .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 24px;
        font-weight: bold;
        color: #333333;
    }

    .container .info span {
        color: #666666;
        font-size: 12px;
    }

    .container .info span a {
        color: #000000;
        text-decoration: none;
    }

    .container .info span .fa {
        color: #e74c3c;
    }

    select {
      /* Reset Select */
      appearance: none;
      outline: 0;
      border: 0;
      box-shadow: none;
      /* Personalize */
      flex: 1;
      padding: 0 1em;
      color: #fff;
      background-color: #1565c0;
      background-image: none;
      cursor: pointer;
    }
    /* Remove IE arrow */
    select::-ms-expand {
      display: none;
    }
    /* Custom Select wrapper */
    .select {
      position: relative;
      display: flex;
      width: 20em;
      height: 3em;
      border-radius: .25em;
      overflow: hidden;
    }
    .select-btn{
      position: relative;
      display: flex;
      width: 10em;
      height: 3em;
      border-radius: .25em;
      overflow: hidden;
    }
    /* Arrow */
    .select::after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      padding: 1em;
      background-color: #34495e;
      transition: .25s all ease;
      pointer-events: none;
    }
    /* Transition */
    .select:hover::after {
      color: #f39c12;
    }
</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    {% if hide %}
    <div class="row mb-5">
        <h3 class="m-auto">Your Wishlist Product</h3>
    </div>
    {% else %}
    <!--
    <div class="row">
        <div class="select ml-5 mb-5">
          <select>
            {% for category in categories %}
            <option value="{{category.name}}">{{category.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="select ml-5 mb-5">
          <select>
            {% for condition in conditions %}
            <option value="{{condition.name}}">{{condition.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="select-btn ml-5 mb-5">
            <button type="button" class="btn btn-block btn-outline-primary">Apply Filter </button>
        </div>
    </div>-->
    {% endif %}
    
    <div class="row">
        {% for product in products %}
        <div class="post-module">
            <!-- Thumbnail-->
            <a href="{% url 'marketplace:marketplace-detail' product.pk %}">
            <div class="thumbnail">
                <!--
                <div class="date">
                    <div class="day">New</div>
                </div>
                
                {% for img in product.image.all %}
                    <img src="{{img.image.url}}" />
                {% endfor %}-->
                {% with product.image.all|first as first_image %}
                    <img src="{{first_image.image.url}}" />
                {% endwith %}
            </div><!-- Post Content-->
            <div class="post-content">
                <div class="category"> {{product.category.category.name}} - {{product.category.name}} </div>
                <!--<div class="category"> {{product.category.name}} </div>-->
                <div style="display: flex; align-items: middle; flex-direction: column;">
                    <li>
                        <h2 class="price">Rp. {{ product.price|intcomma }}</h2>
                    </li>
                    <li>
                        <h1 class="title">{{ product.title }}</h1>
                    </li>
                    <li>
                        <h2 class="location">{{ product.location }}</h2>
                    </li>
                    
                </div>
                <p class="description">{{ product.description }}</p>
                <div class="post-meta"><span class="timestamp"><i class="fa fa-clock"></i> {{ product.created_on|naturaltime }}</span><span class="comments" style="float: right;"><i class="far fa-eye"></i> {{ product.view }}</span></div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>

{% endblock post %}
{% block javascript %}
<script>
    $(window).on('load', function(){
      $('.post-module').hover(function() {
        $(this).find('.description').stop().animate({
          height: "toggle",
          opacity: "toggle"
        }, 300);
      });
    });
</script>
{% endblock javascript %}

