<style>
    /* header container */
    .container-games {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    /* 2048 title */
    #title-games {
        font-size: 70px;
        font-weight: bold;
        margin: 0;
        display: block;
        float: left;
    }

    /* score container and score title */
    #score-container {
        position: relative;
        float: right;
        background-color: seagreen;
        padding: 15px 20px;
        margin-top: 10px;
        text-align: center;
    }

    /*  numeric score */
    #score {
        font-weight: bold;
        font-size: 25px;
    }

    /* instructions subheader */
    #instructions {
        position: relative;
        float: left;
    }

    /* bolded 2048 in instructions */
    #span-2048 {
        font-weight: bold;
    }
</style>