{% extends 'personal/home.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block post %}
<style>
    .post-image {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .share-btn {
        cursor: pointer;
    }

    .shared-post {
        margin-left: 30px;
    }

    .body-post a {
        text-decoration: none;
    }
</style>
<div class="card">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data" class="form-profile">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" name="body" id="textarea" cols="30" rows="2" placeholder="Post a new message"></textarea>
            </div>
            <div class="d-flex align-items-center">
                <!--
                <ul class="mb-0 form-profile__icons">
                    <li class="d-inline-block">
                        <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-user"></i></button>
                    </li>
                    <li class="d-inline-block">
                        <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-paper-plane"></i></button>
                    </li>
                    <li class="d-inline-block">
                        <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-camera"></i></button>
                    </li>
                    <li class="d-inline-block">
                        <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-smile"></i></button>
                    </li>

                </ul> -->
                <input type="file" id="id_image" class="clearablefileinput" name="image" multiple="" accept="image/*">
                <button class="btn btn-primary px-3 ml-4">Send</button>
            </div>
        </form>
    </div>
</div>
<!--
<div class="row justify-content-center mt-3">
    <div class="col-md-5 col-sm-12 border-bottom">
        <h5>Add a Post!</h5>
    </div>
</div>

<div class="row justify-content-center mt-3 mb-5">
    <div class="col-md-5 col-sm-12">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="d-grid gap-2">
                <button class="btn btn-success mt-3">Submit!</button>
            </div>
        </form>
    </div>
</div>
-->
<div class="card">
    <div class="card-body infinite-container">
    {% for post in post_list %}
        <div class="media media-reply infinite-item">
            {% if post.0.shared_user %}
            <div>
                <a href="{% url 'account:view' user_id=post.0.shared_user.profile.pk %}">
                    <img class="mr-3 circle-rounded" style="float: left;margin-right: 1rem;" width="50" height="50" src="{{ post.0.shared_user.profile_image.url }}" />
                </a>
            </div>

            <div class="media-body">
                <div class="d-sm-flex justify-content-between mb-2">
                    <h5 class="mb-sm-0"><a class="text-primary post-link" href="{% url 'account:view' user_id=post.0.author.profile.pk %}">@{{ post.0.shared_user }}</a> <small class="text-muted ml-3">shared a post on {{ post.0.shared_on }}</small></h5>
                    <div class="media-reply__link" style="display:flex; flex-direction: row;">
                        <form method="POST" action="{% url 'post:post-like' post.0.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="btn btn-transparent p-0 mr-3" type="submit">
                                <i class="far fa-thumbs-up"> <span>{{ post.0.likes.all.count }}</span></i>
                            </button>
                        </form>

                        <form method="POST" action="{% url 'post:post-dislike' post.0.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="btn btn-transparent p-0 mr-3" type="submit">
                                <i class="far fa-thumbs-down"> <span>{{ post.0.dislikes.all.count }}</span></i>
                            </button>
                        </form>
                        <span onclick="shareToggle('{{ post.0.pk }}')"><i class="far fa-share-square share-btn"></i></span>
                        <button class="btn btn-transparent p-0 ml-3 font-weight-bold">
                        <a href="{% url 'post:post-detail' post.0.pk %}">Reply ({{post.1}})</a></button>
                    </div>
                </div>
                <div class="body-post">
                    <p>{{ post.0.shared_body }}</p>
                    {% if post.0.image.count > 0 %}
                      <div class="row">
                        {% for img in post.0.image.all %}
                            <div class="col-md-4 col-xs-12">
                                <img src="{{ img.image.url }}" class="post-image" />
                            </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                </div>
                <div class="media mt-3">
                    <a href="{% url 'account:view' user_id=post.0.author.profile.pk %}">
                        <img class="mr-3 circle-rounded" style="float: left;margin-right: 1rem;" width="50" height="50" src="{{ post.0.author.profile_image.url }}" />
                    </a>
                    <div class="media-body">
                        <div class="d-sm-flex justify-content-between mb-2">
                            <h5 class="mb-sm-0"><a class="text-primary post-link" href="{% url 'account:view' user_id=post.0.author.profile.pk %}">@{{ post.0.author }}</a><small class="text-muted ml-3">{{ post.0.created_on }}</small></h5>
                            
                        </div>
                        <div class="body-post">
                            <p>{{ post.0.body }}</p>
                            {% if post.0.image.count > 0 %}
                              <div class="row">
                                {% for img in post.0.image.all %}
                                    <div class="col-md-4 col-xs-12">
                                        <img src="{{ img.image.url }}" class="post-image" />
                                    </div>
                                {% endfor %}
                              </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div>
                <a href="{% url 'account:view' user_id=post.0.author.profile.pk %}">
                    <img class="mr-3 circle-rounded" style="float: left;margin-right: 1rem;" width="50" height="50" src="{{ post.0.author.profile_image.url }}" />
                </a>
            </div>

            <div class="media-body">
                <div class="d-sm-flex justify-content-between mb-2">
                    <h5 class="mb-sm-0"><a class="text-primary post-link" href="{% url 'account:view' user_id=post.0.author.profile.pk %}">@{{ post.0.author }}</a> <small class="text-muted ml-3">{{ post.0.created_on }}</small></h5>
                    <div class="media-reply__link" style="display:flex; flex-direction: row;">
                        <form method="POST" action="{% url 'post:post-like' post.0.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="btn btn-transparent p-0 mr-3" type="submit">
                                <i class="far fa-thumbs-up"> <span>{{ post.0.likes.all.count }}</span></i>
                            </button>
                        </form>

                        <form method="POST" action="{% url 'post:post-dislike' post.0.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="btn btn-transparent p-0 mr-3" type="submit">
                                <i class="far fa-thumbs-down"> <span>{{ post.0.dislikes.all.count }}</span></i>
                            </button>
                        </form>
                        <span onclick="shareToggle('{{ post.0.pk }}')"><i class="far fa-share-square share-btn"></i></span>
                        <button class="btn btn-transparent p-0 ml-3 font-weight-bold">
                        <a href="{% url 'post:post-detail' post.0.pk %}">Reply ({{post.1}})</a></button>
                    </div>
                </div>
                <div class="body-post">
                    <p>{{ post.0.body }}</p>
                    {% if post.0.image.count > 0 %}
                      <div class="row">
                        {% for img in post.0.image.all %}
                            <div class="col-md-4 col-xs-12">
                                <img src="{{ img.image.url }}" class="post-image" />
                            </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        <form method="POST" action="{% url 'post:share-post' post.0.pk %}" class="d-none" id="{{ post.0.pk }}">
            {% csrf_token %}
            {{ shareform | crispy }}
            <div class="d-grid gap-2">
                <button class="btn btn-success mt-3">share the post</button>
            </div>
        </form>
    {% endfor %}
    </div>
    <div class="d-flex d-none position-fixed" style="top:35vh;left:46vw;">
        <button class="btn btn-primary loading" style="display: none;">
            <span class="spinner-border spinner-border-sm"></span>
            Please wait...
        </button>
    </div>
    {% if post_list.has_next %}
        <a class="infinite-more-link" href="?page={{ post_list.next_page_number }}">More</a>
    {% endif %}
</div>
{% endblock post %}
<!--
<script src="https://cdn.tiny.cloud/1/havldrt4zgo6yunsmxmsi0xltdkxj3wix14yetpjmxf1tyqw/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
  tinymce.init({
    selector: 'textarea',
    plugins: "emoticons",
    toolbar: "emoticons",
    toolbar_location: "bottom",
    menubar: false
  });
</script>-->
{%  block javascript %}
<!-- Waypoints -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{% static 'quixlab/js/jquery.waypoints.js' %}"></script>
<script src="{% static 'quixlab/js/infinite.min.js' %}"></script>

<script>

    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: 'bottom-in-view',
        onBeforePageLoad: function(){
            $('.loading').show();
        },
        onAfterPageLoad: function(){
            $('.loading').hide();
        }
    })

    function shareToggle(parent_id) {
        const row = document.getElementById(parent_id);
        console.log(parent_id)
        console.log(row)
        if (row.classList.contains('d-none')) {
            row.classList.remove('d-none');
        } else {
            row.classList.add('d-none');
        }
    }

</script>
{% endblock javascript %}