{% extends 'personal/home.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
<style>
    .post-image {
        display: block;
        max-width:430px;
        max-height:135px;
        width: auto;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: 0.3s;
    }
    .post-image:hover {opacity: 0.7;}
    .share-btn {
        cursor: pointer;
    }

    .shared-post {
        margin-left: 30px;
    }

    .body-post a {
        text-decoration: none;
    }

    body {
      font-family: 'Roboto', sans-serif;
    }
    img {
      max-width:100%;
    }
    .avator {
      border-radius:100px;
      width:48px;
      margin-right: 15px;
    }

    /*From Twitter*/
    .css-1dbjc4n{
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
        flex-basis: auto;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0px;
        min-height: 0px;
        min-width: 0px;
        padding: 0px;
        position: relative;
        z-index: 0;
        display: flex;
        box-sizing: border-box;
        border: 0px solid black;
        -moz-box-align: stretch;
        align-items: stretch;
    }
    .r-1iusvr4 {
        flex-basis: 0px;
    }
    .r-16y2uox {
        -moz-box-flex: 1;
        flex-grow: 1;
    }
    .r-a5pmau {
        margin-right: 2px;
    }
    .r-bnwqim {
        position: relative;
    }
    .r-18u37iz {
        -moz-box-direction: normal;
        -moz-box-orient: horizontal;
        flex-direction: row;
    }
    .r-1pi2tsx{
        height: 100%;
    }
    .r-13qz1uu{
        width: 100%;
    }
    .r-1777fci{
        -moz-box-pack: center;
        justify-content: center;
    }
    .r-kzbkwu{
        padding-bottom: 12px;
    }
    .r-1awozwy{
        -moz-box-align: center;
        align-items: center;
    }
    .r-1hwvwag{
        flex-basis: 48px;
    }
    .r-18kxxzh{
        -moz-box-flex: 0;
        flex-grow: 0;
    }
    .r-1b7u577{
        margin-right: 12px;
    }
    .r-zl2h9q{
        margin-bottom: 2px;
    }
    .r-k4xj1c {
        -moz-box-align: start;
        align-items: start;
    }
    .r-1wtj0ep {
        -moz-box-pack: justify;
        justify-content: space-between;
    }
    .r-1d09ksm {
        -moz-box-align: baseline;
        align-items: baseline;
    }
    .r-1wbh5a2 {
        flex-shrink: 1;
    }
    .r-1joea0r {
        margin-left: 20px;
    }
    .r-dnmrzs {
        max-width: 100%;
    }
    .r-1ny4l3l {
        outline-style: none;
    }
    .r-1loqt21 {
        cursor: pointer;
    }
    .r-1ta3fxp {
        column-gap: 8px;
    }
    .r-1s2bzr4 {
        margin-top: 12px;
    }
    .r-1mdbhws {
        max-width: 425px;
    }
    .r-1h0z5md{
        -moz-box-pack: start;
        justify-content: flex-start;
    }
    .r-bt1l66{
        min-height: 20px;
    }
    .r-bztko3{
        overflow: visible;
    }
    .r-9ilb82{
        color: rgb(110, 118, 125);
    }
    .r-6koalj{
        display: flex;
    }
    .r-37j5jr{
        font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }
    .r-a023e6{
        font-size: 20px;
    }
    .r-16dba41{
        font-weight: 400;
    }
    .r-rjixqe{
        line-height: 20px;
    }
    .r-bcqeeo{
        min-width: 0px;
    }
    .r-o7ynqc{
        transition-duration: 0.2s;
    }
    .r-clp7b1{
        transition-property: color;
    }
    .r-3s2u2q{
        white-space: nowrap;
    }
    .r-qvutc0{
        overflow-wrap: break-word;
    }
    .r-xoduu5{
        display: inline-flex;
    }
    .r-4qtqp9{
        display: inline-block;
    }
    .r-yyyyoo{
        fill: currentcolor;
    }
    .r-1xvli5t{
        height: 1.25em;
    }
    .r-1plcrui{
        vertical-align: text-bottom;
    }
    .r-lrvibr{
        user-select: none;
    }
    .r-1hdv0qi{
        width: 1.25em;
    }
    .r-1udh08x{
        overflow: hidden;
    }
    .r-1kqtdi0{
        border-color: rgb(47, 51, 54);
    }
    .r-1867qdf{
        border-radius: 16px;
    }
    .r-1phboty{
        border-style: solid;
    }
    .r-rs99b7{
        border-width: 1px;
    }
    .r-6416eg{
        transition-property: background-color, box-shadow;
    }
    .r-1adg3ll{
        display: block;
    }
    .r-1p0dtai{
        bottom: 0px;
    }
    .r-1d2f490{
        left: 0px;
    }
    .r-u8s1d{
        position: absolute;
    }
    .r-ipm5af{
        top: 0px;
    }
    .r-1mlwlqe{
        flex-basis: auto;
    }
    .r-p1pxzi{
        margin-bottom: 0px;
    }
    .r-11wrixw{
        margin-left: 0px;
    }
    .r-61z16t{
        margin-right: 0px;
    }
    .r-zchlnj{
        right: 0px;
    }
    .r-417010{
        z-index: 0;
    }
    .r-eqz5dr{
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
        flex-direction: column;
    }
    .r-1niwhzg{
        background-color: rgba(0, 0, 0, 0);
    }
    .r-vvn4in{
        background-position: center center;
    }
    .r-u6sd8q{
        background-repeat: no-repeat;
    }
    .r-4gszlv{
        background-size: cover;
    }
    .r-1wyyakw{
        z-index: -1;
    }
    .css-4rbku5 {
        background-color: rgba(0, 0, 0, 0);
        color: inherit;
        font: inherit;
        list-style: none;
        margin: 0px;
        text-align: inherit;
        text-decoration: none;
    }
    .css-18t94o4 {
        cursor: pointer;
    }
    .css-9pa8cd{
        inset: 0px;
        height: 100%;
        /*opacity: 0;
        position: absolute;*/
        width: 100%;
        z-index: -1;
    }
    .css-901oao{
        border: 0px solid black;
        box-sizing: border-box;
        font: 17px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        margin: 0px;
        padding: 0px;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    /*End Twitter*/

    .tweet-wrap {
      /*background: #fff;*/
      background: #fff;
      border-radius:10px;
      padding: 20px;
      border-bottom: 1px solid #e6ecf0;
      border-top: 1px solid #e6ecf0;
      box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    }

    .tweet-header {
      display: flex;
      align-items:flex-start;
      font-size:20px;
    }
    .tweet-header-info {
      font-weight:bold;
    }
    .tweet-header-info span {
      color:#657786;
      font-weight:normal;
      margin-left: 5px;
    }
    .tweet-header-info p {
      font-weight:normal;
      margin-top: 5px;
      
    }
    .tweet-img-wrap {
      padding-left: 5px;
    }

    .tweet-info-counts {
      display: flex;
      margin-left: 60px;
      margin-top: 10px;
    }
    .tweet-info-counts div {
      display: flex;
      margin-right: 20px;
    }
    .tweet-info-counts div svg {
      color:#657786;
      margin-right: 10px;
    }
    @media screen and (max-width:430px){
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .tweet-header {
        flex-direction:column;
      }
      .tweet-header img {
        margin-bottom: 20px;
      }
      .tweet-header-info p {
        margin-bottom: 30px;
      }
      .tweet-img-wrap {
        padding-left: 0;
      }
      .tweet-info-counts {
      display: flex;
      margin-left: 0;
    }
    .tweet-info-counts div {
      margin-right: 10px;
    }
    }
    .heart {
        height: 29px;
        width: 29px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: grey;
    }

    .heart-clicked {
        height: 29px;
        width: 29px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: coral;
    }

    /* Image Viewer */
    /* The Modal (background) */
    #image-viewer {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);
    }
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
    .modal-content { 
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
    }
    #image-viewer .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    #image-viewer .close:hover,
    #image-viewer .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    @media only screen and (max-width: 700px){
        .modal-content {
            width: 100%;
        }
    }
</style>
{% endblock head %}

{% block post %}
  <div style="width: 90%; margin: auto;">
      {% include 'post/snippets/post_list_tweet_box.html' %}
  </div>

  <div class="infinite-container" style="width: 90%; margin: auto;">

    <div id="post-content">
      {% include 'post/snippets/post_list_body_2.html' %}
    </div>
    
    <div class="d-flex d-none position-fixed" style="top:35vh;left:46vw;">
        <button class="btn btn-primary loading" style="display: none;">
            <span class="spinner-border spinner-border-sm"></span>
            Loading tweet...
        </button>
    </div>

    {% if results.has_next %}
        <a class="infinite-more-link" href="?page={{ results.next_page_number }}"></a>
    {% endif %}

  </div>
  <div id="image-viewer">
    <span class="close">&times;</span>
    <img class="modal-content" id="full-image">
  </div>

{% endblock post %}

{%  block javascript %}
<!-- Waypoints -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{% static 'quixlab/js/jquery.waypoints.js' %}"></script>
<script src="{% static 'quixlab/js/infinite.min.js' %}"></script>

<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: 'bottom-in-view',
        onBeforePageLoad: function(){
            $('.loading').show();
        },
        onAfterPageLoad: function(){
            $('.loading').hide();
            formatTags();
            onClickedImage();
        }
    })

    function shareToggle(parent_id) {
        const row = document.getElementById(parent_id);
        console.log(parent_id)
        console.log(row)
        if (row.classList.contains('d-none')) {
            row.classList.remove('d-none');
        } else {
            row.classList.add('d-none');
        }
    }

</script>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    function sentAJAX_like(pk){
        var id = "like-button-"+pk
        var id_count = "likes-count-"+pk
        var like = document.getElementById(id)
        var count = document.getElementById(id_count)
        var like_count = Number(count.innerText)
        if(like.classList.contains('heart')){
            like.classList.remove('heart');
            like.classList.add('heart-clicked');
            count.innerText = like_count + 1
        }else{
            like.classList.remove('heart-clicked');
            like.classList.add('heart');
            count.innerText = like_count - 1
        }
       $.ajax({
        type: "POST",
        headers: {'X-CSRFToken': csrftoken},
        url: 'http://127.0.0.1:8000/post/'+pk+'/like',
        data: {
          'pk': pk
        },
        success: function (data) {
          
          //console.log(data)
        }
      });
    }

    function sentAJAX_readList(pk){
        var id = "read-list-button-"+pk
        var read_list = document.getElementById(id)
        if(read_list.classList.contains('heart')){
            read_list.classList.remove('heart');
            read_list.classList.add('heart-clicked');
        }else{
            read_list.classList.remove('heart-clicked');
            read_list.classList.add('heart');
        }
       $.ajax({
        type: "POST",
        headers: {'X-CSRFToken': csrftoken},
        url: 'http://127.0.0.1:8000/blog/'+pk+'/read-list', 
        data: {
          'pk': pk
        },
        success: function (data) {
          
          //console.log(data)
        }
      });
    }
    
    var tweet = document.getElementById("post-content");
    tweet.addEventListener('htmx:afterSwap', function(){
        console.log("swapping")
        toastr.success("Success added post!");
    });
</script>

<script>
    function copyContent() {
        document.getElementById("hiddenTextarea").value =  
            document.getElementById("tweet-box").innerHTML;
        return true;
    }
</script>
<script>
    function onClickedImage(){
        $(".post-image").click(function(){
          $("#full-image").attr("src", $(this).attr("src"));
          $('#image-viewer').show();
        });

        $("#image-viewer .close").click(function(){
          $('#image-viewer').hide();
        });
    }
    onClickedImage()
</script>
<script>
    const wrapper = document.querySelector(".wrapper"),
    editableInput = wrapper.querySelector(".editable"),
    readonlyInput = wrapper.querySelector(".readonly"),
    placeholder = wrapper.querySelector(".placeholder"),
    counter = wrapper.querySelector(".counter"),
    button = wrapper.querySelector("button");

    editableInput.onfocus = ()=>{
      placeholder.style.color = "#c5ccd3";
    }
    editableInput.onblur = ()=>{
      placeholder.style.color = "#98a5b1";
    }

    editableInput.onkeyup = (e)=>{
      let element = e.target;
      validated(element);
    }
    editableInput.onkeypress = (e)=>{
      let element = e.target;
      validated(element);
      placeholder.style.display = "none";
    }

    function validated(element){
      let text;
      let maxLength = 100;
      let currentlength = element.innerText.length;

      if(currentlength <= 0){
        placeholder.style.display = "block";
        counter.style.display = "none";
        button.classList.remove("active");
      }else{
        placeholder.style.display = "none";
        counter.style.display = "block";
        button.classList.add("active");
      }

      counter.innerText = maxLength - currentlength;

      if(currentlength > maxLength){
        let overText = element.innerText.substr(maxLength); //extracting over texts
        overText = `<span class="highlight">${overText}</span>`; //creating new span and passing over texts
        text = element.innerText.substr(0, maxLength) + overText; //passing overText value in textTag variable
        readonlyInput.style.zIndex = "1";
        counter.style.color = "#e0245e";
        button.classList.remove("active");
      }else{
        readonlyInput.style.zIndex = "-1";
        counter.style.color = "#333";
      }
      readonlyInput.innerHTML = text; //replacing innerHTML of readonly div with textTag value
    }

    function truncateString(str, num) {
      // If the length of str is less than or equal to num
      // just return str--don't truncate it.
      if (str.length <= num) {
        return str
      }
      // Return str truncated with '...' concatenated to the end of str.
      return str.slice(0, num) + '...'
    }

    function replaceString(str, url) {
      return str.replace(url," ");
    }

  </script>

{% endblock javascript %}