{% extends 'personal/home.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
{% include 'post/snippets/tweet_style.html' %}
{% include 'snippets/css/twitter_style.html' %}
{% endblock head %}

{% block post %}
  <div style="width: 95%; margin: auto;">
      {% include 'post/snippets/post_list_tweet_box.html' %}
  </div>

  <div class="infinite-container" style="width: 95%; margin: auto;">

    <div id="post-content">
      {% include 'post/snippets/post_list_body_2.html' %}
    </div>
    
    <div class="d-flex d-none position-fixed" style="top:35vh;left:46vw;">
        <button class="btn btn-primary loading" style="display: none;">
            <span class="spinner-border spinner-border-sm"></span>
            Loading tweet...
        </button>
    </div>
  </div>
  <div id="image-viewer">
    <span class="close">&times;</span>
    <img class="modal-content" id="full-image">
  </div>

{% endblock post %}

{%  block javascript %}
<!-- Waypoints -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{% static 'quixlab/js/jquery.waypoints.js' %}"></script>
<script src="{% static 'quixlab/js/infinite.min.js' %}"></script>

<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: 'bottom-in-view',
        onBeforePageLoad: function(){
            $('.loading').show();
        },
        onAfterPageLoad: function(){
            $('.loading').hide();
            formatTags();
            onClickedImage();
        }
    })

    function shareToggle(parent_id) {
        const row = document.getElementById(parent_id);
        console.log(parent_id)
        console.log(row)
        if (row.classList.contains('d-none')) {
            row.classList.remove('d-none');
        } else {
            row.classList.add('d-none');
        }
    }

    function scrollTop(){
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    function sentAJAX_like(pk){
        var id = "like-button-"+pk
        var id_count = "likes-count-"+pk
        var like = document.getElementById(id)
        var count = document.getElementById(id_count)
        var like_count = Number(count.innerText)
        if(like.classList.contains('heart')){
            like.classList.remove('heart');
            like.classList.add('heart-clicked');
            count.innerText = like_count + 1
        }else{
            like.classList.remove('heart-clicked');
            like.classList.add('heart');
            count.innerText = like_count - 1
        }
       $.ajax({
        type: "POST",
        headers: {'X-CSRFToken': csrftoken},
        url: 'http://127.0.0.1:8000/post/'+pk+'/like',
        data: {
          'pk': pk
        },
        success: function (data) {
          
          //console.log(data)
        }
      });
    }

    function sentAJAX_readList(pk){
        var id = "read-list-button-"+pk
        var read_list = document.getElementById(id)
        if(read_list.classList.contains('heart')){
            read_list.classList.remove('heart');
            read_list.classList.add('heart-clicked');
        }else{
            read_list.classList.remove('heart-clicked');
            read_list.classList.add('heart');
        }
       $.ajax({
        type: "POST",
        headers: {'X-CSRFToken': csrftoken},
        url: 'http://127.0.0.1:8000/blog/'+pk+'/read-list', 
        data: {
          'pk': pk
        },
        success: function (data) {
          
          //console.log(data)
        }
      });
    }
    
    var tweet = document.getElementById("post-content");
    tweet.addEventListener('htmx:afterSwap', function(){
        console.log("swapping")
        toastr.success("Success added post!");
    });
</script>

<script>
    function copyContent() {
        document.getElementById("hiddenTextarea").value =  
            document.getElementById("tweet-box").innerHTML;
        return true;
    }
</script>
<script>
    function onClickedImage(){
        $(".css-9pa8cd-qqq").click(function(){
          $("#full-image").attr("src", $(this).attr("src"));
          $('#image-viewer').show();
        });

        $("#image-viewer .close").click(function(){
          $('#image-viewer').hide();
        });
    }
    onClickedImage()
</script>
<script>
    const wrapper = document.querySelector(".wrapper"),
    editableInput = wrapper.querySelector(".editable"),
    readonlyInput = wrapper.querySelector(".readonly"),
    placeholder = wrapper.querySelector(".placeholder"),
    counter = wrapper.querySelector(".counter"),
    button = wrapper.querySelector("button");

    editableInput.onfocus = ()=>{
      placeholder.style.color = "#c5ccd3";
    }
    editableInput.onblur = ()=>{
      placeholder.style.color = "#98a5b1";
    }

    editableInput.onkeyup = (e)=>{
      let element = e.target;
      validated(element);
    }
    editableInput.onkeypress = (e)=>{
      let element = e.target;
      validated(element);
      placeholder.style.display = "none";
    }

    function validated(element){
      console.log("IN");
      let text;
      let maxLength = 100;
      let currentlength = element.innerText.length;

      if(currentlength <= 0){
        placeholder.style.display = "block";
        counter.style.display = "none";
        button.classList.remove("active");
      }else{
        placeholder.style.display = "none";
        counter.style.display = "block";
        button.classList.add("active");
      }

      counter.innerText = maxLength - currentlength;

      if(currentlength > maxLength){
        let overText = element.innerText.substr(maxLength); //extracting over texts
        overText = `<span class="highlight">${overText}</span>`; //creating new span and passing over texts
        text = element.innerText.substr(0, maxLength) + overText; //passing overText value in textTag variable
        readonlyInput.style.zIndex = "1";
        counter.style.color = "#e0245e";
        button.classList.remove("active");
      }else{
        readonlyInput.style.zIndex = "-1";
        counter.style.color = "#333";
      }
      readonlyInput.innerHTML = text; //replacing innerHTML of readonly div with textTag value
    }

    function truncateString(str, num) {
      // If the length of str is less than or equal to num
      // just return str--don't truncate it.
      if (str.length <= num) {
        return str
      }
      // Return str truncated with '...' concatenated to the end of str.
      return str.slice(0, num) + '...'
    }

    function replaceString(str, url) {
      return str.replace(url," ");
    }

  </script>

{% endblock javascript %}