{% extends 'layout-blank.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="col-md-10 m-0 p-0">
	<div class="container">

		<!-- MEDIUM+ SCREENS -->
		<div class="main d-none d-md-flex flex-column" id="home-content">

			{% block post %}
			{% endblock post %}

		</div>
		<!-- END MEDIUM+ SCREENS -->
		
		<!-- SMALL SCREENS -->
		<div class="d-flex d-md-none p-2">
			<p>This site is not meant to be viewed on a mobile device. Please download the <a href="#">app</a>.</p>
		</div>
		<!-- END SMALL SCREENS -->
	</div>
</div>

{% endblock content %}

