{% load static %}

{% block head %}
<style>
    .chat-dropdown-header:hover{
        cursor: pointer;
        background: var(--main-background-color);
    }
    .chat-dropdown-header{
        color: var(--light-primary-text-color);
    }
    .scrollable-menu {
        height: auto;
        max-height: 90vh;
        width: 500px;
        overflow-x: hidden;
    }

    .notifications-material-icon {
        font-size: 28px;

    }
    .notifications-icon-container{
        width: 40px;
        height: 40px;
        background-color: var(--main-background-color);
    }
    .notifications-icon-container:hover {
        cursor: pointer;
        background-color: var(--secondary-text-color)
    }
    .notify-badge{
        position: absolute;
        background: transparent;
        height:1.2rem;
        width:1.2rem;
        line-height: 1.2rem;
        top:1rem;
        right:2rem;
        text-align: center;
        font-size: 1rem;
        border-radius: 50%;
        color:black;
        font-weight: 630;
        margin-top:-15px;
        margin-right: -25px;
    }
    #id_notifications_spinner{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .opt{
        background: #000 !important;
        box-shadow: 0.1rem 0.1rem 0.1rem var(--greyLight-2), -0.1rem -0.1rem 0.8rem var(--white);
    }
</style>
{% endblock head %}
<div class="header opt ml-0 mr-0" style="width: 100%; background: #000 !important; color: #fff !important; z-index: 99999;">    
    <div class="header-content clearfix">
        <div class="header-left">
            <div class="input-group icons">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify" style="color: #000 !important;"></i></span>
                </div>
                <form class="search-bar justify-content-start" onsubmit="return executeQuery();">
                    <input type="text" class="form-control" name="q" id="id_q_large" placeholder="Search..." aria-label="Search Dashboard" style="background-color: #000 !important; box-shadow: 0.1rem 0.1rem 0.1rem var(--greyLight-2), -0.1rem -0.1rem 0.8rem var(--white);">
                </form>
                <div class="drop-down   d-md-none">
					<form action="#">
						<input type="text" class="form-control" placeholder="Search">
					</form>
                </div>
            </div>
        </div>
        <div class="header-right">
            <ul class="clearfix">
                <li class="icons dropdown">
                    <div class="d-flex notifications-icon-container rounded-circle align-items-center mr-3" id="id_chat_notification_dropdown_toggle" data-toggle="dropdown">
                        <span id="id_chat_notifications_count" class="notify-badge"></span>
                        <span class="d-flex material-icons notifications-material-icon m-auto align-items-center">chat</span>
                         
                        <div class="dropdown-menu scrollable-menu" aria-labelledby="id_chat_notification_dropdown_toggle" id="id_chat_notifications_container">
                        </div>
                    </div>
                </li>
                <li class="icons dropdown">
                    <div class="d-flex notifications-icon-container rounded-circle align-items-center mr-3" id="id_notification_dropdown_toggle" data-toggle="dropdown" onclick="setGeneralNotificationsAsRead()">
                        <span id="id_general_notifications_count" class="badge badge-pill gradient-2 badge-primary"></span>
                        <span class="d-flex material-icons notifications-material-icon m-auto align-items-center">notifications_none</span>
                        <div class="dropdown-menu scrollable-menu" aria-labelledby="id_notification_dropdown_toggle" id="id_general_notifications_container" style="min-width: 23rem; max-height: 500px; overflow-y: auto;">                                       
                        </div>
                    </div>
                </li>
                <li class="icons dropdown">
                    <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                        <span class="activity active"></span>
                        <img src="{{request.user.profile_image.url}}" height="40" width="40" alt="">
                    </div>
                    <div class="drop-down dropdown-profile   dropdown-menu">
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a href="{% url 'account:view' user_id=request.user.id %}" ><i class="icon-user"></i> <span>Profile</span></a>
                                </li>
                                <li>
                                    <!-- BIG WARNING, EDIT IN PRODUCTION -->
                                    <a href="http://127.0.0.1:8000/lock/?next={{request.path}}"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                </li>
                                <li><a href="{% url 'logout' %}"><i class="icon-key"></i> <span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>