<div id="accordian">
    <ul class="show-dropdown">
        <li>
            <a href="{% if is_home %}#{% else %}{% url 'home' %}{% endif %}" onclick="scrollTop(); return false;" aria-expanded="false">
                <i class="fas fa-home"></i><span class="nav-text">Home</span>
            </a>
        </li>
        <li class="nav-label">Apps</li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="far fa-comment-dots"></i> <span class="nav-text">Chat</span>
            </a>
            <ul>
                <li><a href="{% url 'public_chat:public_chat_room' %}">Public Chat</a></li>
                <li><a href="{% url 'chat:private-chat-room' %}">Private Chat</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="fas fa-blog"></i> <span class="nav-text">Blog</span>
            </a>
            <ul>
                <li><a href="{% url 'blog:blog-home' %}">New Blog</a></li>
                <li><a href="{% url 'blog:blog-manage' %}">Manage Blog</a></li>
                <li><a href="{% url 'blog:blog-readlist' %}">Reading List</a></li>
            </ul>
        </li>
        <li>
            <a href="{% url 'forum:forum-topic' %}" aria-expanded="false">
                <i class="fas fa-layer-group"></i><span class="nav-text">Forum</span>
            </a>
        </li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="fas fa-store"></i> <span class="nav-text">Marketplace</span>
            </a>
            <ul>
                <li><a href="{% url 'marketplace:marketplace-home' %}">Buying</a></li>
                <li><a href="{% url 'marketplace:marketplace-create' %}">Selling</a></li>
                <li><a href="{% url 'marketplace:marketplace-manage' %}">Manage Product</a></li>
                <li><a href="{% url 'marketplace:marketplace-wishlist' %}">Your Wishlist</a></li>
            </ul>
        </li>
        <li class="nav-label">Profile</li>
        <li>
            <a href="{% url 'account:view' request.user.pk %}" aria-expanded="false">
                <i class="far fa-user"></i><span class="nav-text">Account</span>
            </a>
        </li>
        <li>
            <a href="#" aria-expanded="false">
                <i class="fas fa-user-friends"></i><span class="nav-text">Friends</span>
            </a>
        </li>
        <li class="nav-label">Settings</li>
        <li>
            <a href="#" aria-expanded="false">
                <i class="fas fa-info-circle"></i><span class="nav-text">About</span>
            </a>
        </li>
        <li>
            <a href="#" aria-expanded="false">
                <i class="fas fa-cogs"></i><span class="nav-text">Setting</span>
            </a>
        </li>
    </ul>
</div>