{% load humanize %}
{% load mathfilters %}

{% for post in posts %}
  <div class="tweet-wrap infinite-item">
    <div class="tweet-header">
      <div class="vote-wrap">
        <button class="btn btn-transparent p-0" type="submit" id="upvote-{{post.0.pk}}" onclick="sentAJAX_upvote_post({{post.0.pk}})">
          <div id="upvote-div-{{post.0.pk}}" class="vote {% if request.user in post.0.upvote.all %}up{% else %}inactive{% endif %}">
            <i class="fas fa-chevron-circle-up"></i>
          </div>
        </button>
        <div class="stat">
          <span class="score">
              <strong id="score-{{post.0.pk}}">{{post.0.upvote.all.count|sub:post.0.downvote.all.count}}</strong>
          </span>
        </div>
        <button class="btn btn-transparent p-0" type="submit" id="downvote-{{post.0.pk}}" onclick="sentAJAX_downvote_post({{post.0.pk}})">
            <div id="downvote-div-{{post.0.pk}}" class="vote {% if request.user in post.0.downvote.all %}down{% else %}inactive{% endif %}">
              <i class="fas fa-chevron-circle-down"></i>
            </div>
        </button>
      </div>
      
      <div class="tweet-header-info">
        <div class="body-post" style="font-weight:normal; transform: rotate(0);">
          <a href="{% url 'forum:forum-detail' post.0.pk %}"class="text-body">
              <p><strong>{{post.0.title|safe}}</strong></p>
              {% if "img" in post.0.body %}
              {% else %}
              <p>{{post.0.body|safe|truncatechars:100}}</p>
              {% endif %}
          </a>
        </div>
        <span>@{{ post.0.author }} asked {{ post.0.created_on|naturaltime }}</span>
      </div>
      
    </div>
    
    <div class="tweet-info-counts">
      <span class="d-none d-sm-inline-block"><i class="far fa-eye"></i>{{post.0.view}}</span>
      <span><i class="far fa-comment ml-2"></i> {{post.1}}</span>
    </div>
  </div>
{% endfor %}