{% include 'snippets/css/twitter_style.html' %}
{% load mathfilters %}
<div class="css-1dbjc4n">
   <section aria-labelledby="accessible-list-66" role="region" class="css-1dbjc4n">
      <h1 dir="auto" aria-level="1" role="heading" class="css-4rbku5 css-901oao r-4iw3lz r-1xk2f4g r-109y4c4 r-1udh08x r-wwvuq4 r-u8s1d r-92ng3h" id="accessible-list-66">Hubungkan</h1>
      <div aria-label="Timeline: Hubungkan" class="css-1dbjc4n">
         <div style="position: relative; min-height: 10772.1px;">
            <div style="transform: translateY(0px); position: absolute; width: 100%; transition: opacity 0.3s ease-out 0s;">
               <div class="css-1dbjc4n r-1adg3ll r-1ny4l3l"></div>
            </div>
            <div style="transform: translateY(0px); position: absolute; width: 100%; transition: opacity 0.3s ease-out 0s;">
               <div class="css-1dbjc4n r-1adg3ll r-1ny4l3l">
                  <div class="css-1dbjc4n r-1wtj0ep r-ymttw5 r-1f1sjgu">
                     <h2 aria-level="2" role="heading" class="css-4rbku5 css-1dbjc4n r-18u37iz">
                        <div class="css-1dbjc4n r-k200y r-z80fyv r-1777fci r-1bymd8e"></div>
                        <div dir="auto" class="css-901oao css-cens5h r-1habvwh r-1fmj7o5 r-16y2uox r-1wbh5a2 r-37j5jr r-adyw6z r-1vr29t4 r-1pi2tsx r-1777fci r-135wba7 r-bcqeeo r-qvutc0" style="-webkit-line-clamp: 3;"><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Daftar Forum</span></div>
                        <div class="css-1dbjc4n r-k200y r-z80fyv r-1777fci r-1bymd8e"></div>
                     </h2>
                  </div>
               </div>
            </div>
            {% for forum in results %}
            <div style="transform: translateY({{ forloop.counter0|mul:108|add:49 }}px); position: absolute; width: 100%; transition: opacity 0.3s ease-out 0s;">
               <div class="css-1dbjc4n r-1adg3ll r-1ny4l3l">
                  <div role="button" tabindex="0" class="css-18t94o4 css-1dbjc4n r-1ny4l3l r-ymttw5 r-1f1sjgu r-o7ynqc r-6416eg" data-testid="UserCell">
                     <div class="css-1dbjc4n r-18u37iz">
                        <div class="css-1dbjc4n r-1hwvwag r-18kxxzh r-1h0z5md r-1b7u577">
                           <div class="css-1dbjc4n r-1wbh5a2 r-dnmrzs">
                              <div class="css-1dbjc4n r-1adg3ll r-bztko3 r-13qz1uu" style="height: 48px;">
                                 <div class="r-1adg3ll r-13qz1uu" style="padding-bottom: 100%;"></div>
                                 <div class="r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu">
                                    <div class="css-1dbjc4n r-1adg3ll r-1pi2tsx r-1wyvozj r-bztko3 r-u8s1d r-1v2oles r-desppf r-13qz1uu">
                                       <div class="r-1adg3ll r-13qz1uu" style="padding-bottom: 100%;"></div>
                                       <div class="r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu">
                                          <div class="css-1dbjc4n r-sdzlij r-ggadg3 r-1udh08x r-u8s1d r-8jfcpp" style="height: calc(100% + 4px); width: calc(100% + 4px);">
                                             <div class="css-1dbjc4n r-sdzlij r-1wyvozj r-1udh08x r-633pao r-u8s1d r-1v2oles r-desppf" style="height: calc(100% - 4px); width: calc(100% - 4px);">
                                                <div class="css-1dbjc4n r-1niwhzg r-1pi2tsx r-13qz1uu"></div>
                                             </div>
                                             <div class="css-1dbjc4n r-sdzlij r-1wyvozj r-1udh08x r-633pao r-u8s1d r-1v2oles r-desppf" style="height: calc(100% - 4px); width: calc(100% - 4px);">
                                                <div class="css-1dbjc4n r-kemksi r-1pi2tsx r-13qz1uu"></div>
                                             </div>
                                             <div class="css-1dbjc4n r-kemksi r-sdzlij r-1wyvozj r-1udh08x r-633pao r-u8s1d r-1v2oles r-desppf" style="height: calc(100% - 4px); width: calc(100% - 4px);">
                                                <div class="css-1dbjc4n r-1adg3ll r-1udh08x" style="">
                                                   <div class="r-1adg3ll r-13qz1uu" style="padding-bottom: 100%;"></div>
                                                   <div class="r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu">
                                                      <div aria-label="" class="css-1dbjc4n r-1p0dtai r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af r-417010">
                                                         <div class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-4gszlv r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw" style="background-image: url(&quot;{{ forum.0.image.url }}&quot;);"></div>
                                                         <img alt="" draggable="true" src="{{ forum.0.image.url }}" class="css-9pa8cd">
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="css-1dbjc4n r-sdzlij r-1wyvozj r-1udh08x r-u8s1d r-1v2oles r-desppf" style="height: calc(100% - 4px); width: calc(100% - 4px);">
                                                <div class="css-1dbjc4n r-172uzmj r-1pi2tsx r-1ny4l3l r-o7ynqc r-6416eg r-13qz1uu"></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="css-1dbjc4n r-1iusvr4 r-16y2uox">
                           <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1wtj0ep">
                              <div class="css-1dbjc4n r-1wbh5a2 r-dnmrzs">
                                 <a href="{% url 'forum:forum-content' forum.0.pk %}" role="link" class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-1wbh5a2 r-dnmrzs r-1ny4l3l">
                                    <div class="css-1dbjc4n r-1wbh5a2 r-dnmrzs r-1ny4l3l">
                                       <div class="css-1dbjc4n r-1awozwy r-18u37iz r-dnmrzs">
                                          <div dir="auto" class="css-901oao r-1awozwy r-1fmj7o5 r-6koalj r-37j5jr r-a023e6 r-b88u0q r-rjixqe r-bcqeeo r-1udh08x r-3s2u2q r-qvutc0"><span class="css-901oao css-16my406 css-bfa6kz r-poiln3 r-bcqeeo r-qvutc0"><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">{{forum.0.title}}</span></span></div>
                                          <div dir="auto" class="css-901oao r-1fmj7o5 r-xoduu5 r-18u37iz r-1q142lx r-37j5jr r-a023e6 r-16dba41 r-rjixqe r-bcqeeo r-qvutc0"></div>
                                       </div>
                                       <div class="css-1dbjc4n r-18u37iz r-1wbh5a2" >
                                          <div dir="ltr" class="css-901oao css-bfa6kz r-9ilb82 r-18u37iz r-37j5jr r-a023e6 r-16dba41 r-rjixqe r-bcqeeo r-qvutc0">
                                             <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">
                                                {% if forum.2 > 0 %}{{forum.2}}{% else %}0{% endif %} Views  {{forum.1}} Posts  {{forum.0.subscriber.all.count}} Subscriber
                                             </span>
                                          </div>
                                       </div>
                                    </div>
                                 </a>
                              </div>
                              <div class="css-1dbjc4n r-19u6a5r" style="min-width: 63px;" hx-post="{% url 'forum:forum-subscribe' forum.0.pk %}" hx-target="#span{{forum.0.pk}}">
                                 <div aria-label="Subscribe" role="button" tabindex="0" class="css-18t94o4 css-1dbjc4n r-42olwf r-sdzlij r-1phboty r-rs99b7 r-15ysp7h r-4wgw6l r-1ny4l3l r-ymttw5 r-o7ynqc r-6416eg r-lrvibr" style="background-color: rgb(239, 243, 244);">
                                    <div dir="auto" class="css-901oao r-1awozwy r-6koalj r-18u37iz r-16y2uox r-37j5jr r-a023e6 r-b88u0q r-1777fci r-rjixqe r-bcqeeo r-q4m81j r-qvutc0" style="color: rgb(15, 20, 25);"><span class="css-901oao css-16my406 css-bfa6kz r-poiln3 r-1b43r93 r-1cwl3u0 r-bcqeeo r-qvutc0"><span id="span{{forum.0.pk}}" class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">{% if request.user in forum.0.subscriber.all %}Subscribed{% else %}Join{% endif %}</span></span></div>
                                 </div>
                              </div>
                           </div>
                           <div dir="auto" class="css-901oao r-1fmj7o5 r-37j5jr r-a023e6 r-16dba41 r-rjixqe r-bcqeeo r-1h8ys4a r-1jeg54m r-qvutc0"><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">{{forum.0.description}}</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% endfor %}
            
            
         </div>
      </div>
   </section>
</div>

