<style type="text/css">

  .card-signin {
	  width: 100%;
	  max-width: 400px;
	  padding: 15px;
	  margin: auto;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


</style>

<div class="container-fluid mb-4" style="font: 17px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
	<div class="row justify-content-center">
		<div class="card card-signin">
		  <div class="card-body">
		    <form class="form-signin" hx-post="{% url 'login' %}" hx-target="#replacableTarget">{% csrf_token %}
				
				<div class="d-flex flex-column pb-3">
				<div class="container-fluid" style="font: 17px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
					<h3 style="text-align: center;vertical-align: middle; ">Register</h3>
				</div>
				<br>

				
				<input style="width: 90%; margin: auto;" type="email" name="email" id="inputEmail" class="form-control mb-2" placeholder="Email address" required autofocus>

				<input style="width: 90%; margin: auto;" type="text" name="username" id="inputUsername" class="form-control mb-2" placeholder="Username" required>

				<input style="width: 90%; margin: auto;" type="password" name="password1" id="inputPassword1" class="form-control mb-2" placeholder="Password" required>

				<input style="width: 90%; margin: auto;" type="password" name="password2" id="inputPassword2" class="form-control mb-2" placeholder="Confirm password" required>

				{% for field in registration_form %}
				<p>
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{registration_form.non_field_errors}}</p>
				</div>

				{% endif %}
				
				<button style="width: 90%; margin: auto;" class="btn btn-lg btn-primary btn-block" name="btnRegis" hx-post="{% url 'login' %}" hx-target="#replacableTarget">Register</button>
				
				</form>
		  </div>
		</div>
		
	</div>
</div>