{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>PNP Social Media</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'quixlab/css/style.css' %}">
    
</head>

<body class="h-100">
    
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    


    <!-- ADD LOGIN REQUIRED AND CASE IF WRONG PASSWORD IN HERE, USE SESSION -->
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <h3 class="text-center" id="username"></h3>
                                <p class="text-center">Enter your password to continue to the site</p>
                                <form class="mt-5 mb-3 login-input" method="post"> {% csrf_token %}
                                    <div class="form-group">
                                        <input type="hidden" name="email" id="email" value="">
                                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                                    </div>
                                    <button class="btn login-form__btn submit w-100" type="submit">Unlock</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'quixlab/plugins/common/common.min.js' %}"></script>
    <script src="{% static 'quixlab/js/custom.min.js' %}"></script>
    <script src="{% static 'quixlab/js/settings.js' %}"></script>

    <script type="text/javascript">
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
        const username = document.getElementById("username");
        const email = document.getElementById("email");
        window.onload = function (){
            username.innerHTML = getCookie("username").substr(1, getCookie("username").length-2);
            email.value = getCookie("email").substr(1, getCookie("email").length-2);
        }
        

    </script>
</body>
</html>





