<div aria-labelledby="id__kyhpkgo2cn id__o1zgkq4dudp" class="css-1dbjc4n" id="id__x3w9v0lp9x">
  <div class="css-1dbjc4n r-1s2bzr4">
     <div aria-labelledby="id__4fkbje3huc3 id__8li6ag1d8l" class="css-1dbjc4n r-1kqtdi0 r-1867qdf r-1phboty r-rs99b7 r-1ny4l3l r-1udh08x r-o7ynqc r-6416eg" id="id__o1zgkq4dudp" data-testid="card.wrapper">
        <div aria-hidden="true" class="css-1dbjc4n r-1igl3o0 r-pm2fo r-zmljjp r-rull8r r-qklmqi r-1adg3ll" id="id__4fkbje3huc3" data-testid="card.layoutLarge.media">
           <a href="{{url}}" rel="noopener noreferrer" target="_blank" role="link" class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-1ny4l3l r-1udh08x r-o7ynqc r-6416eg r-13qz1uu">
              <div class="css-1dbjc4n r-1adg3ll r-1udh08x">
                 <div class="r-1adg3ll r-13qz1uu" style="padding-bottom: 52.356%;"></div>
                 <div class="r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu">
                    <div aria-label="" class="css-1dbjc4n r-1p0dtai r-1mlwlqe r-1d2f490 r-p1pxzi r-11wrixw r-61z16t r-1udh08x r-u8s1d r-zchlnj r-ipm5af r-417010" style="margin-top: 0px;">
                       <div class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-4gszlv r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw" style="background-image: url(&quot;{{image}}&quot;);"></div>
                       <img alt="" draggable="true" src="{{image}}" class="css-9pa8cd">
                    </div>
                 </div>
              </div>
           </a>
        </div>
        <div class="css-1dbjc4n" id="id__8li6ag1d8l">
           <a href="{{url}}" rel="noopener noreferrer" target="_blank" role="link" class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-18u37iz r-16y2uox r-1wtj0ep r-1ny4l3l r-o7ynqc r-6416eg">
              <div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-z5qs1h r-1777fci r-kzbkwu r-1e081e0 r-ttdzmv" data-testid="card.layoutLarge.detail">
                 <div dir="auto" class="css-901oao css-bfa6kz r-9ilb82 r-37j5jr r-a023e6 r-16dba41 r-rjixqe r-bcqeeo r-qvutc0"><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">{{site}}</span></span></div>
                 <div dir="auto" class="css-901oao css-bfa6kz r-1fmj7o5 r-37j5jr r-a023e6 r-16dba41 r-rjixqe r-bcqeeo r-qvutc0"><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0" ><h4 style="font-weight: 600" class="post-name-color">{{ title|safe }}</h4></span></span></div>
                 <div dir="auto" class="css-901oao css-cens5h r-9ilb82 r-37j5jr r-a023e6 r-16dba41 r-rjixqe r-bcqeeo r-qvutc0" style="-webkit-line-clamp: 2;"><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0" style="color: rgb(110, 118, 125) !important;">{{description}}</span></span></div>
              </div>
           </a>
        </div>
     </div>
  </div>
</div>
