{% load static %}
{% load humanize %}

{% for result in results %}
    {% if result.likes %} <!-- IF A POST -->
    <div class="tweet-wrap infinite-item mb-1">
      <div class="tweet-header">
        <a href="{% url 'account:view' user_id=result.author.profile.pk %}">
            <img class="mr-3 circle-rounded avator" style="float: left;margin-right: 1rem;" width="50" height="50" src="{{ result.author.profile_image.url }}" />
        </a>
        
        <div class="tweet-header-info">
          <span style="color: black;">{{result.author.profile.fullname}}</span><span>@{{ result.author }}</span><span> {{ result.created_on|naturaltime }}</span>
          <div class="body-post" id="body-post-{{result.pk}}" style="font-weight:normal; transform: rotate(0);">
            <p id="body-p-{{results.pk}}">{{ result.body|safe }}</p>
            {% if result.image.count > 0 %}
              <div class="row">
                {% for img in result.image.all %}
                    <div class="col-md-auto col-xs-12">
                        <img src="{{ img.image.url }}" class="post-image" />
                    </div>
                {% endfor %}
              </div>
            {% endif %}
            {% if result.has_url %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
            <script>
            var target = '{{result.url}}';
            var apikey = 'd40cf1a8290e74c03567253ecc253f5c';

            $.ajax({
              url: "https://api.linkpreview.net",
              dataType: 'jsonp',
              data: {q: target, key: apikey},
              success: function (response) {
                console.log(response);

                const img = document.createElement('img');
                img.src = response.image;

                const title = document.createElement('h5');
                var truncatedTitle = truncateString(response.title,60);
                title.innerHTML = truncatedTitle;

                const desc = document.createElement('p');
                var truncatedDesc = truncateString(response.description,150);
                desc.innerHTML = truncatedDesc;
                desc.style.textAlign = "justify";

                const url = document.createElement('p');
                var truncatedURL = truncateString(response.url,100);
                url.innerHTML = truncatedURL;

                const left_content = document.createElement('div');
                /*left_content.classList.add('border-end');*/

                const left_col = document.createElement('div');
                left_col.classList.add('col-md-3', 'p-2');

                left_content.appendChild(img);
                left_col.appendChild(left_content);

                const right_content = document.createElement('div');

                const right_col = document.createElement('div');
                right_col.classList.add('col-md-9', 'p-2');

                right_content.appendChild(title);
                right_content.appendChild(desc);
                right_content.appendChild(url);
                right_col.appendChild(right_content);

                const body = document.querySelector('#body-post-{{result.pk}}');
                const container = document.createElement('div');
                container.classList.add('container', 'border', 'rounded', 'p-0', 'bg-light');
                body.appendChild(container);

                const row = document.createElement('div');
                row.classList.add('row', 'no-gutters');
                row.appendChild(left_col);
                row.appendChild(right_col);

                container.appendChild(row);

                const urlLink = document.createElement('a');
                urlLink.href = response.url;
                const span = document.createElement('span');
                span.style.position = "absolute";
                span.style.width = "100%";
                span.style.height = "100%";
                span.style.top = "0";
                span.style.left = "0";
                span.style.zIndex = "1";
                urlLink.appendChild(span);

                container.appendChild(urlLink);

              }
            });
            </script>
            <!--
            <div class="container border rounded p-0">
              <div class="row no-gutters">
                <div class="col-md-3 p-0">
                  <div class="border-end bg-light">
                    <img src="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png" alt="">
                  </div>
                </div>
                <div class="col-md-9 p-0">
                  <div class="bg-light">
                    <p><strong>Model field reference | Django documentation | Django</strong></p>
                    <p>This document contains all the API references of Field including the field options and field types Django offers.</p>
                  </div>
                </div>
              </div>
            </div>-->
            {% endif %}
          </div>
        </div>
        
      </div>
      
      <div class="tweet-info-counts">
        
        <div class="comments">
          <a href="{% url 'post:post-detail' result.pk %}" style="text-decoration: none;">
          <svg class="feather feather-message-circle sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg></a>
          <div class="comment-count">{{result.comment_parent.count}}</div>
        </div>
        
        <div class="likes">
            <button class="btn btn-transparent p-0 mr-3" type="submit" onclick="sentAJAX_like({{result.pk}})">
                <span class="{% if request.user in result.likes.all %} heart-clicked {% else %} heart {% endif %}" id="like-button-{{result.pk}}"><i class='fas fa-heart'></i></span>
            </button>
            <div class="likes-count">
              <span id="likes-count-{{result.pk}}">{{ result.likes.all.count }}</span>
            </div>
        </div>

        <div class="message">
          <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
          <div class="share-count">0</div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if result.price %} <!-- IF FROM MARKETPLACE -->
    <div class="tweet-wrap infinite-item" style="background-color: #ddf0e2;">
      <div class="tweet-header">
        <a href="{% url 'account:view' user_id=result.author.profile.pk %}">
            <img class="mr-3 circle-rounded avator" style="float: left;margin-right: 1rem;" width="50" height="50" src="{{ result.author.profile_image.url }}" />
        </a>
        
        <div class="tweet-header-info">
          <span style="color: black;">{{result.author.profile.fullname}}</span><span>@{{ result.author }}</span><span> has posted to marketplace at {{ result.created_on|naturaltime }}</span><span class="label label-success">Marketplace</span>
          <div class="body-post" style="font-weight:normal; transform: rotate(0);">
            <a href="{% url 'marketplace:marketplace-detail' result.pk %}" style="color: black;">
            <p><strong>{{ result.title|safe }}</strong></p>
            <p><strong>Rp. {{result.price|intcomma}}</strong></p>
            </a>
            
            {% if result.image.count == 2 %}
                <div class="row">
                  {% for img in result.image.all %}
                      <div class="col-md-6 col-xs-12">
                          <img src="{{ img.image.url }}" class="post-image" />
                      </div>
                  {% endfor %}
                </div>
            {% endif %}
            
          </div>
        </div>
        
      </div>
    </div>
    {% endif %}

    {% if result.subject %} <!-- IF FROM THE FORUM -->
    <div class="tweet-wrap infinite-item" style="background-color: #e0ddf0;">
      <div class="tweet-header">
        <a href="{% url 'account:view' user_id=result.author.profile.pk %}">
            <img class="mr-3 circle-rounded avator" style="float: left;margin-right: 1rem;" width="50" height="50" src="{{ result.author.profile_image.url }}" />
        </a>
        
        <div class="tweet-header-info">
          <span style="color: black;">{{result.author.profile.fullname}}</span><span>@{{ result.author }}</span><span> asked on {{result.subject.title}} at {{ result.created_on|naturaltime }}</span><span class="label label-info">Forum</span>
          <div class="body-post" style="font-weight:normal; transform: rotate(0);">
            <a href="{% url 'forum:forum-detail' result.pk %}" style="color: black;">
            <p><strong>{{ result.title|safe }}</strong></p>
            </a>
          </div>
        </div>
        
      </div>
    </div>
    {% endif %}

    {% if result.claps %} <!-- IF FROM THE BLOG -->
    <div class="tweet-wrap infinite-item">
      <div class="tweet-header">
        <a href="{% url 'account:view' user_id=result.author.profile.pk %}">
            <img class="mr-3 circle-rounded avator" style="float: left;margin-right: 2rem;" width="50" height="50" src="{{ result.author.profile_image.url }}" />
        </a>
        
        <div class="tweet-header-info" style="clear: both;">
          <span style="color: black;">{{result.author.profile.fullname}}</span><span>@{{ result.author }} posted to Blog {{ result.created_on|naturaltime }}</span><span class="label label-warning">Blog</span>
          <div class="body-post" style="font-weight:normal; transform: rotate(0);">
            <div class="container border rounded p-0 mt-4">
              <div class="row g-0">
                <a href="{% url 'blog:blog-detail' result.pk %}" style="color: black;">
                  <span style="position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 1;"></span> 
                </a>
                <div class="col-md-9 p-2">
                  <div class="border-end">
                    <p><strong>{{ result.title|safe }}</strong></p>
                    <p id="blog-body-{{result.pk}}"></p>
                    <script>
                      function truncateString(str, num) {
                        if (str.length <= num) {
                          return str
                        }
                        return str.slice(0, num) + '...'
                      }
                      
                      window.addEventListener("DOMContentLoaded", () => {
                        const postBody = document.getElementById("blog-body-{{result.pk}}");
                        const postBodyImg = document.getElementById("blog-body-img-{{result.pk}}");

                        const text = "{{result.body|escapejs}}";
                        const words = text.trim().split(/\s+/).length;
                        const wpm = 225;
                        const time = Math.ceil(words / wpm);
                        const readTime = document.getElementById("blog-min-read-{{result.pk}}");
                        readTime.innerHTML = time;

                        let body = JSON.parse(text);
                        let blocks = body.blocks;
                        let imageFlag = false;
                        let textBody = "";
                        postBody.style = "color: grey";
                        for (let index = 0; index <= blocks.length; index++) {
                          switch (blocks[index].type) {
                            case "Header":
                              break;

                            case "Image":
                              if(!imageFlag){
                                let div = document.createElement("div");
                                let image = document.createElement("img");
                                image.src = `${blocks[index].data.file.url}`;
                                image.style = "vertical-align: middle; width: 100%; height: 100%; object-fit: cover;"
                                postBodyImg.appendChild(image);
                                imageFlag = true;
                              }
                              break;

                            case "List":
                              break;

                            case "Raw":
                              break;

                            case "Attaches":
                              break;

                            case "paragraph":
                              let temp = blocks[index].data.text;
                              textBody += temp;
                              postBody.innerHTML = truncateString(textBody,180);
                              break;

                            case "Link":
                              break;

                            default:
                              break;
                          }
                        }
                      });
                    </script>
                    
                  </div>
                </div>
                <div class="col-md-3 p-0">
                  <div class="bg-light" style="height: 100%;">
                    <div id="blog-body-img-{{result.pk}}" style="height: 100%;">
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        

      </div>
      <div class="tweet-info-counts">
        <span class="mr-4">{{ result.created_on|date:"M d, Y" }} </span>
        <span class="mr-4"><span id="blog-min-read-{{result.pk}}"></span> min read </span>
        <button class="btn btn-transparent p-0" type="submit" onclick="sentAJAX_readList({{result.pk}})">
            <span style="float: right;" class="{% if request.user in result.read_list.all %} heart-clicked {% else %} heart {% endif %}" id="read-list-button-{{result.pk}}"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book-open" class="svg-inline--fa fa-book-open" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M144.3 32.04C106.9 31.29 63.7 41.44 18.6 61.29c-11.42 5.026-18.6 16.67-18.6 29.15l0 357.6c0 11.55 11.99 19.55 22.45 14.65c126.3-59.14 219.8 11 223.8 14.01C249.1 478.9 252.5 480 256 480c12.4 0 16-11.38 16-15.98V80.04c0-5.203-2.531-10.08-6.781-13.08C263.3 65.58 216.7 33.35 144.3 32.04zM557.4 61.29c-45.11-19.79-88.48-29.61-125.7-29.26c-72.44 1.312-118.1 33.55-120.9 34.92C306.5 69.96 304 74.83 304 80.04v383.1C304 468.4 307.5 480 320 480c3.484 0 6.938-1.125 9.781-3.328c3.925-3.018 97.44-73.16 223.8-14c10.46 4.896 22.45-3.105 22.45-14.65l.0001-357.6C575.1 77.97 568.8 66.31 557.4 61.29z"></path></svg></span>
        </button>
      </div>  
    </div>
    {% endif %}
{% endfor %}