{% load static %}

{% block head %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
    
    ::selection{
      color: #fff;
      background: #1da1f2;
    }
    .wrapper{
      background: #000;
      width: 100%;
      border-radius: 15px;
      padding: 25px 25px 15px 25px;
      box-shadow: 0.1rem 0.1rem 0.1rem var(--greyLight-2), -0.1rem -0.1rem 0.8rem var(--white);
    }
    .input-box{
      padding-top: 10px;
      border-bottom: 1px solid #e6e6e6;
    }
    .input-box .tweet-area{
      position: relative;
      min-height: 130px;
      max-height: 170px;
      overflow-y: auto;
    }
    .tweet-area::-webkit-scrollbar{
      width: 0px;
    }
    .tweet-area .placeholder{
      position: absolute;
      margin-top: -3px;
      font-size: 22px;
      color: #98A5B1;
      pointer-events: none;
    }
    .tweet-area .input{
      outline: none;
      font-size: 20px;
      min-height: inherit;
      word-wrap: break-word;
      word-break: break-all;
      color: white;
    }
    .tweet-area .editable{
      position: relative;
      z-index: 5;
    }
    .tweet-area .readonly{
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      color: transparent;
      background: transparent;
    }
    .readonly .highlight{
      background: #fd9bb0;
    }
    .input-box .privacy{
      color: #1da1f2;
      margin: 15px 0;
      display: inline-flex;
      align-items: center;
      padding: 7px 10px;
      border-radius: 50px;
      cursor: pointer;
      transition: background 0.2s ease;
    }
    .privacy:hover, .icons li:hover{
      background: #e7f5fe;
    }
    .privacy i{
      font-size: 18px;
    }
    .privacy span{
      font-size: 15px;
      font-weight: 600;
      margin-left: 7px;
    }
    .bottom{
      display: flex;
      margin-top: 13px;
      align-items: center;
      justify-content: space-between;
    }
    .bottom .icons{
      display: inline-flex;
    }
    .icons li{
      list-style: none;
      color: #1da1f2;
      font-size: 20px;
      margin: 0 2px;
      height: 38px;
      width: 38px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: background 0.2s ease;
    }
    .bottom .content{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .bottom .counter{
      color: #333;
      display: none;
      font-weight: 500;
      margin-right: 15px;
      padding-right: 15px;
      border-right: 1px solid #aab8c2;
    }
    .bottom button{
      padding: 9px 18px;
      border: none;
      outline: none;
      border-radius: 50px;
      font-size: 16px;
      font-weight: 700;
      background: #1da1f2;
      color: #fff;
      cursor: pointer;
      opacity: 0.5;
      pointer-events: none;
      transition: background 0.2s ease;
    }
    .bottom button.active{
      opacity: 1;
      pointer-events: auto;
    }
    .bottom button:hover{
      background: #0d8bd9;
    }
    .thumbnail_images ul {
        list-style: none;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-top: 10px
    }

    .thumbnail_images ul li {
        margin: 5px;
        padding: 10px;
        cursor: pointer;
        transition: all 0.5s
    }

    .thumbnail_images ul li:hover {
        border: 2px solid #eee
    }
</style>
{% endblock head %}

<div class="wrapper mb-2"> 
    <form onsubmit='return copyContent()' method= "post" hx-encoding="multipart/form-data" hx-post= "{% url 'home' %}" hx-swap="innerHTML" hx-target = "#post-content" hx-indicator="#spinner">
    <div class="input-box">
      <div class="tweet-area">
        <span class="placeholder">What's happening?</span>
        <textarea name="body" id="hiddenTextarea" cols="30" rows="10" style="display: none;"></textarea>
        <div class="input editable" contenteditable="true" spellcheck="false" id="tweet-box"></div>
        <div class="input readonly" contenteditable="true" spellcheck="false"></div>
        <div class="thumbnail_images">
          <ul id="thumbnail">
              
          </ul>
       </div>
      </div>
      <div class="privacy">
        <i class="fas fa-globe-asia"></i>
        <span>Everyone can reply</span>
      </div>
    </div>
    <div class="bottom">
      <ul class="icons">
        <li><i class="uil uil-capture"></i></li>
        <li>
            <label for="id_image">
              <i class="far fa-file-image"></i>
            </label>
            <input type="file" id="id_image" class="clearablefileinput" name="image" multiple="" accept="image/*" style="display: none;">
        </li>
        <li><i class="fas fa-map-marker-alt"></i></li>
        <li><i class="far fa-grin"></i></li>
        <li><i class="far fa-user"></i></li>
      </ul>
      <div class="content">
        <span class="counter">250</span>
        <button>Tweet</button>
        <!-- <img  id="spinner" class="htmx-indicator" src="https://i1.wp.com/www.cssscript.com/wp-content/uploads/2014/10/iOS-OS-X-Style-Pure-CSS-Loading-Spinner.jpg?fit=400,300&ssl=1"/> -->
      </div>
    </div>
    </form>
</div>
